.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid black;
	margin: 0;
}

#id_img_plane {
    position: absolute; /* Moves the element out of normal document flow */
    pointer-events: none; /* Mouse clicks pass through it to the table/divs below */
    z-index: 100; /* Keeps the plane on top of everything */
	transform-origin: 50% 40%;
}

#id_div_park {
    background-color: gray;
    width: 250px;
    height: 200px;
    cursor: pointer;
    margin-top: 20px;
}